<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banner</title>
    <link rel="stylesheet" href="bannerStyle.css">
</head>
<body class="passpage">
    <header>
        
    </header>
    <main>
        <div class="main-box">
            <div class="right-side">
                <p>REGISTRATION<br>SUCCESSFUL</p>
            </div>

            <div class="center">

                <div class="event-name">
                    <p>EVENT NAME</p>
                </div>

                <div class="token">

                    <div class="token-title">
                        <p>TOKEN<br>NUMBER</p>
                    </div>

                    <div class="token-number" id="token">
                        <p>1234567890</p>
                    </div>

                </div>

                <div class="timer">
                    <p>22hr(s) : 10min(s) : 32sec</p>
                </div>

            </div>

            <div class="left-side">
                <p>REGISTRATION<br>SUCCESSFUL</p>
            </div>
        </div>
    </main>   
    <br>
    <br>
    <br>
    <button class="btn btn-dark" id="fallback" href="mainpage.html">Return to mainpage</button> 

</body>
<script>
let tokenDiv = document.getElementById("token");
    if(tokenDiv){
        tokenDiv.innerHTML = "<p>"+ window.localStorage.PassId+ "</p>";
    }
let fallback = document.getElementById("fallback")
if(fallback){
    fallback.addEventListener("click",()=> {
        document.location.href = "mainpage.html"
    })
}
</script>
</html>