
body{
    background-color: rgb(234, 231, 231);
    color: black;
    font-family: sans-serif;
    text-align: center;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-box{
    /* border: solid 2px  rgb(197, 197, 197); */
    border: 5px solid black;
    width: 80%;
    height: 100%;
    background-color: #C7D9AE;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    box-shadow: 20px 20px rgba(0,0,0,.15);
    transition: all .4s ease;
}
.main-box:hover {
  /* border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ; */
  box-shadow: 10px 10px rgba(0,0,0,.25);
}


.right-side, .left-side{

    color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}

.right-side{
    border-right: 5px solid black;
}

.left-side{
    border-left: 5px solid black;
}

.right-side p{

    transform-origin: 50 0;
    transform: rotate(90deg);
}

.left-side p{
    transform-origin: 50 0;
    transform: rotate(-90deg);
}

.right-side p, .left-side p{
    font-size: 36px;
}

.center{
    display: grid;
    grid-template-rows: 50% 25% 25%;
}

.event-name{
    font-weight: 800;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid black;;
    
}

.event-name p{
    font-size: 40px;

}



.token{
    display: grid;
    grid-template-columns: 30% 70%;
    font-size: 15px;
    border-bottom: 5px solid black;
}

.token-title{
    border-right: 5px solid black;;
    display: flex;
    background-color: black;
    color: #C7D9AE;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    overflow: hidden;
    width: 100%;
    height: 100%;

}


.token-number p{
    letter-spacing: 3px;
    font-size: 18px;
}

.timer{
    
}

.timer p{
    font-weight: 700;
    font-size: 28px;
}


@media only screen and (max-width: 850px){
    .main-box{
        height: 30vh;
    }

    .right-side p, .left-side p{
        font-size: 18px;
    }

    .event-name p{
        font-size: 20px;
    }

    .token{
        font-size: 12px;
    }

    .token-number p{
        font-size: 16px;
    }

    .timer p{
        font-size: 18px;
    }
}

@media only screen and (max-width: 500px){
    .main-box{
        display: block;
        height: fit-content;
    }

    .right-side, .left-side{
        display: none;
    }
}
