@import "../node_modules/bootstrap/dist/css/bootstrap.css";
body{
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
}

#first-content{
   width: 50%;
   position: relative;
   left: 25%;
}
.signup,.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.signup{
    display: none;
}


nav li{
    margin-left: 10px;
}