@import "../node_modules/bootstrap/dist/css/bootstrap.css";
body{
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
}
#first-content{
   width: 40%;
   position: relative;
   left: 30%;
   padding: 2%;
   border: 1px solid black;
}
.signup,.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.signup{
    display: none;
}

nav li{
    margin-left: 10px;
}

.carousel{
    width: 50%;
  }

  .qna-section{
    width: 80%;
    position: relative;
    left: 10%;
  }
  h3{
    text-align: center;
  }
  .history{
    width: 40%;
    text-align: center;
  }

  #content{
    position: relative;
    width: 75%;
    left: 12.5%;
  }